*{
  margin: 0;
  padding: 0;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0 4%;
    gap: 4%;
    margin: 0;
    height: 6vh;
    align-items: center;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    width: 100%;
    z-index: 1;
  }
  
  li a {
    text-decoration: none;
    color: white;
  }